.loader {
  width: 40px;
  height: 40px;
  background-color: #007bff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

nav.sidebar > div > h3 {
  padding-left: .5em;
}

.user-info {
  margin-left: auto;
  margin-right: 0px!important;
}

.auth-block {
  margin-top: 10%;
}

.request-result {
  margin-top: 15px;
}

.channel-item {
  margin-right: 0.5rem;
}

input[type="checkbox"].channel-checkbox {
  display: none;
}

input[type="checkbox"]:checked.channel-checkbox + .channel-label {
  background-color: #007bff;
}

input[type="checkbox"]:not(:checked).channel-checkbox + .channel-label {
  background-color: #6c757d;
}

.channel-label {
  cursor: pointer;
}

.channel-label

li:first-of-type + li {
  color: red;
}

@media (max-width: 830px) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 830px) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 1230px) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 1620px) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}
